/*/ Styles for 2ESheet rolltemplates /*/

/*/ Styles common to all 2E Templates /*/
/*/ <div class="sheet-template-container"> /*/
div.sheet-template-container {
	border: none;
	text-align: left;
}

/*/ <td class="sheet-template-title1"> /*/
rolltemplate th.sheet-template-title1 {
	font-size: 12pt;
	font-weight: bold;
	font-family: "verdana", "tahoma", "ariel";
	text-align: center;
	color: white;
	border: none;
	padding: 4px;
	margin: 0px;
    background: none;
}

/*/ <th class="sheet-template-title2"> /*/
rolltemplate th.sheet-template-title2 {
	font-size: 12pt;
	font-weight: bold;
	font-family: "verdana", "tahoma", "ariel";
	text-align: center;
	color: black;
	border: none;
	padding: 4px;
	margin: 0px;
    background: none;
}

/*/ <td class="sheet-template-subtitle1"> /*/
rolltemplate th.sheet-template-title1 {
	font-size: 8pt;
	font-style: italic;
	font-family: "verdana", "tahoma", "ariel";
	text-align: center;
	color: white;
	border: none;
	padding: 4px;
	margin: 0px;
    background: none;
}

/*/ <th class="sheet-template-subtitle2"> /*/
rolltemplate th.sheet-template-title2 {
	font-size: 8pt;
	font-style: italic;
	font-family: "verdana", "tahoma", "ariel";
	text-align: center;
	color: black;
	border: none;
	padding: 4px;
	margin: 0px;
    background: none;
}

/*/ <table> /*/
rolltemplate table {
    background: none;
    width: 100%;
}

/* Alternating table row background shading /*/
.sheet-rolltemplate-2Edefault tr:nth-child(even),
.sheet-rolltemplate-2Esave tr:nth-child(even) {
	background-color: rgba(217, 217, 217,1);
}
.sheet-rolltemplate-2Edefault tr:nth-child(even),
.sheet-rolltemplate-2Esave tr:nth-child(even) {
	background-color: white;
}

/*/ <div class="sheet-template-body"> /*/
div.sheet-template-body {
	border: 1px solid black;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	background: #f2f1cc;
	padding: 4px;
	margin-top: -1px;
}

.sheet-rolltemplate-2Edefault div.sheet-default-head,
.sheet-rolltemplate-2Eattack div.sheet-attack-head,
.sheet-rolltemplate-2Espell div.sheet-spell-head,
.sheet-rolltemplate-2Esave div.sheet-save-head {
	border: 1px solid #000000;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	padding: 3px;
	padding-top: 5px;
	margin-bottom: 0px;
}

/*/ <rolltemplate class="sheet-rolltemplate-2Edefault">
		Styles for the 2Edefault Template /*/
/*/ <div class="sheet-default-head"> /*/
.sheet-rolltemplate-2Edefault div.sheet-default-head {
	background: #205617;
}

/*/ <td class="default-c1">{{key}} /*/
.sheet-rolltemplate-2Edefault td.sheet-default-c1 {
    font-size: 9pt;
    font-weight: bold;
    text-transform: capitalize;
    color: #000000;
    text-align: center;
    font-family: "verdana";
    border: 1px solid black;
    border-right: none;
    padding: 4px;
    margin: 0px;
    background-color: white;
}

/*/ <td class="default-c2">{{value}} /*/
.sheet-rolltemplate-2Edefault td.sheet-default-c2 {
    font-size: 10pt;
    color: #000000;
    text-align: center;
    font-family: "verdana";
    border: 1px solid black;
    border-left: none;
    padding: 4px;
    margin: 0px;
    background-color: white;
}

/*/ <td class="default-c3" colspan="2">{{desc}}{{desc1}}{{desc2}} /*/
.sheet-rolltemplate-2Edefault td.sheet-default-c3 {
    font-size: 9pt;
    color: #000000;
    text-align: left;
    font-family: "verdana";
    border: 1px solid black;
    padding: 4px;
    margin: 0px;
    background-color: white;
}


/*/ <rolltemplate class="sheet-rolltemplate-2Eattack">
		Styles for the 2Eattack Template /*/
/*/ <div class="sheet-attack-head"> /*/
.sheet-rolltemplate-2Eattack div.sheet-attack-head {
    background: #ff0000;
}

.sheet-rolltemplate-2Eattack td {
	padding: 5px;
	text-align: center;
}

/*/ <span class="weapon_used">{{weapon_used}} /*/
.sheet-rolltemplate-2Eattack span.sheet-weapon-used {
	text-align: center;
	font-size: 10pt;
	font-style: italic;
	color: black;
}

/*/ <td class="attack-c1"><b>S/M</b> /*/
.sheet-rolltemplate-2Eattack td.sheet-attack-c1 {
	vertical-align: bottom;
}

/*/ <td class="attack-c2" rowspan="2">{{ac_hit}} /*/
.sheet-rolltemplate-2Eattack td.sheet-attack-c2 {
	position: relative;
	background-image: url("http://i.imgur.com/rFM5RnH.png");
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position: center;
    height: 50px;
}

/*/ <td class="attack-c3" rowspan="2">{{dmg_s}} /*/
.sheet-rolltemplate-2Eattack td.sheet-attack-c3 {
    position: relative;
    background-image: url("http://i.imgur.com/QFPPKuq.png");
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position: center;
    height: 50px;
}

/*/ <td class="attack-c4"><b>AC Hit</b> /*/
.sheet-rolltemplate-2Eattack td.sheet-attack-c4 {
	vertical-align: top;
}

/*/ <td colspan="3" class="attack-c5"> /*/
.sheet-rolltemplate-2Eattack td.sheet-attack-c5 {
    background-color: #00ff00;
    border-top: 1px solid #000000;
    font-size: 12pt;
    font-weight: bold;
    font-style: italic;
	font-family: "verdana", "tahoma", "ariel";
    color: #ffffff;
}

/*/ <span class='attack-crit'>CRITICAL HIT! /*/
.sheet-rolltemplate-2Eattack span.sheet-attack-crit {
    font-size: 10pt;
	font-weight: normal;
	background: white;
	padding: 2px;
}

/*/ <td colspan="3" class="attack-c6"> /*/
.sheet-rolltemplate-2Eattack td.sheet-attack-c6 {
    background-color: #ff0000;
    border-top: 1px solid #000000;
    font-size: 12pt;
    font-weight: bold;
    font-style: italic;
	font-family: "verdana", "tahoma", "ariel";
    color: #ffffff;
}

/*/ <span class='attack-fumble'>FUMBLE! /*/
.sheet-rolltemplate-2Eattack span.sheet-attack-fumble {
    font-size: 10pt;
	font-weight: normal;
	background: white;
	padding: 2px;
}

/*/ Inline Roll Styling for 2Eattack Template /*/
.sheet-rolltemplate-2Eattack .inlinerollresult  {
	display: inline-block;
    font-size: 12pt;
    font-weight: bold;
    color: #000000;
	text-align: center;
	vertical-align: middle;
	border: none;
	background-color: transparent;
}
.sheet-rolltemplate-2Eattack .inlinerollresult.fullcrit {
	color: #00FF00;
	border: none;
}
.sheet-rolltemplate-2Eattack .inlinerollresult.fullfail {
	color: #FF0000;
	border: none;
}
.sheet-rolltemplate-2Eattack .inlinerollresult.importantroll {
	color: #000000;
	border: none;
}

/*/ <rolltemplate class="sheet-rolltemplate-2Espell">
		Styles for the 2Espell Template /*/
/*/ <div class="sheet-spell-head"> /*/
.sheet-rolltemplate-2Espell div.sheet-spell-head {
	background: #0027e7;
}

/*/ <td class="sheet-spell-c1"> /*/
.sheet-rolltemplate-2Espell td.sheet-spell-c1 {
    font-size: 10pt;
    color: #000000;
    text-align: center;
    font-family: "verdana";
    border: 1px solid black;
    padding: 4px;
    margin: 0px;
    width: 50%;
}

/*/ <span class="sheet-spell-prop"> /*/
.sheet-rolltemplate-2Espell span.sheet-spell-prop {
    font-size: 9pt;
    font-weight: bold;
    color: #000000;
    text-align: center;
    font-family: "verdana";
}

/*/ <td colspan="2" class="sheet-spell-c2"> /*/
.sheet-rolltemplate-2Espell td.sheet-spell-c2 {
    font-size: 9pt;
    color: #000000;
    text-align: left;
    font-family: "verdana";
    border: none;
    padding: 3px;
    margin: 0px;
}

/*/ <rolltemplate class="sheet-rolltemplate-2Esave">
		Styles for the 2Esave Template /*/
/*/ <div class="save-head"> /*/
.sheet-rolltemplate-2Esave div.sheet-save-head {
	background: yellow;
}

/*/ <td class="save-c1"> /*/
.sheet-rolltemplate-2Esave td.sheet-save-c1 {
    font-size: 9pt;
    font-weight: bold;
    text-transform: capitalize;
    color: #000000;
    text-align: center;
    font-family: "verdana";
    border: none;
    padding: 4px;
    margin: 0px;
    background-color: white;
}

/*/ <td class="save-c2"> /*/
.sheet-rolltemplate-2Esave td.sheet-save-c2 {
    font-size: 10pt;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    font-family: "verdana";
    border: none;
    padding: 4px;
    margin: 0px;
    background-color: white;
}

/*/ <td class="save-c3" colspan="2">Success! /*/
.sheet-rolltemplate-2Esave td.sheet-save-c3 {
    background-color: #00ff00;
    border: none;
    font-size: 12pt;
    font-weight: bold;
    font-style: italic;
    font-family: "verdana";
    text-align: center;
    color: #ffffff;
    padding: 4px;
    margin: 0px;
}

/*/ <td class="save-c4" colspan="2">Failed! /*/
.sheet-rolltemplate-2Esave td.sheet-save-c4 {
    background-color: #ff0000;
    border: none;
    font-size: 12pt;
    font-weight: bold;
    font-style: italic;
    font-family: "verdana";
    text-align: center;
    color: #ffffff;
    padding: 4px;
    margin: 0px;
}
